<!--
  ~ /**
  ~  * Created by Ali YUCE on 10/18/20 9:16 PM
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 10/8/20 9:20 PM
  ~  * GitHub: https://github.com/mayuce
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labters.styler" />
